sudo: true

language: objective-c
os: osx
osx_image: xcode7.3

cache: false
#cache:
#  cocoapods : true
#  directories:
#    - $HOME/.npm
#    - $HOME/.cocoapods
#    - node_modules # NPM packages

before_install:
  - export LANG=en_US.UTF-8
  - brew update

install:
  - npm install -g npm

before_script:
  - npm install

script:
  - npm install -g cordova
  - cordova
