sudo: false

language: objective-c
os: osx
osx_image: xcode7.3

cache:
  cocoapods : true
  directories:
    - $HOME/.npm
    - $HOME/.cocoapods
    - node_modules # NPM packages

before_script:
  - npm install

script:
  - npm install cordova
  - npm config list
  - cordova
