sudo: false

language: objective-c
os: osx
osx_image: xcode7.3

cache:
  cocoapods : true
  directories:
    - $HOME/.npm
    - $HOME/.cocoapods
    - node_modules # NPM packages

before_install:
  - npm install -g cordova

before_script:
  - npm install

script:
  - echo $(npm config get prefix)
  - ls $(npm config get prefix)
  - ls $(npm config get prefix)/bin
  - echo $PATH
  - cordova
