<html>
<head>
  <style type="text/css">
    body {
      background: white;
    }

    page {
      background: white;
      display: block;
      margin: 0 auto;
      margin-bottom: 0.5cm;
      box-shadow: 0 0 0.5cm rgba(0, 0, 0, 0.5);
    }

    page {
      width: 21cm;
      height: 29.7cm;
    }

    page[layout="landscape"] {
      width: 29.7cm;
      height: 21cm;
    }

    @media print {
      body, page {
        margin: 0px;
        box-shadow: 0px;
      }
    }

    table, th, td {
      border-collapse: collapse;
      border: 1px solid black;
    }

    table {
      width: 100%;
      page-break-inside: auto;
    }

    th {
      text-align: left;
      padding: 10px;
      background-color: lightgray;
    }

    td {
      padding: 10px;
      text-align: left;
    }

    tr {
      page-break-inside: auto;
    }

    section {
      padding: 15px 30px
    }

    h2, h3 {
      margin-top: 0px;
      margin-bottom: 0px;
    }

    img {
      max-width: 100%;
      object-fit: contain;
    }

    .process-container {
      display: flex;
      flex-flow: row wrap;
    }

    .process-box {
      width: 40%;
      flex: 0 0 auto;
    }

  </style>
</head>
<body>
  <section>
    <h1>{{code}} - {{name}}</h1>
    <section>
      <h2>품목 정보</h2>
      <p>
      <table>
        <colgroup>
          <col width="120px">
          <col width="*">
        </colgroup>
        <tbody>
        <tr>
          <th>바코드</th>
          <td>{{barcodeNumber}}</td>
        </tr>
        <tr>
          <th>설명</th>
          <td>{{{description}}}</td>
        </tr>
        </tbody>
      </table>
      </p>
    </section>
    <section>
      <h2>공정 정보</h2>
      <div class="process-container">
        {{#processes}}
        <section class="process-box">
          <h3>{{order}}. {{name}}</h3>
          <table>
            <colgroup>
              <col width="120px">
              <col width="*">
            </colgroup>
            <tbody>
            {{#properties}}
            <tr>
              <th>{{name}}</th>
              <td>{{value}}</td>
            </tr>
            {{/properties}}
            </tbody>
          </table>
        </section>
        {{/processes}}
      </div>
    </section>
  </section>
{{#images}}
  <section style="page-break-before: always;">
    <h3>사진 - {{name}}</h3>
    <img src="{{url}}" ></img>
  </section>
{{/images}}
{{#bluePrints}}
  <section style="page-break-before: always;">
    <h3>도면 - {{name}}</h3>
    <img src="{{url}}"></img>
  </section>
{{/bluePrints}}
</body>
</html>