// app global css

a
  text-decoration: none
  color: inherit

a:hover
  text-decoration: wavy

.q-field-helper
  font-size: 9px
  text-align: right

.q-if-label
  font-weight: bold

a[disabled] > *
  opacity: 0.5

*[disabled]
  pointer-events: none

*.ime-mode-active
  input
    -webkit-ime-mode: active
    -moz-ime-mode: active
    -ms-ime-mode: active
    ime-mode: active

*.ime-mode-disabled
  input
    -webkit-ime-mode: disabled
    -moz-ime-mode: disabled
    -ms-ime-mode: disabled
    ime-mode: disabled

.v-select.dropdown
  .clear
    display: none
  .dropdown-toggle
    border: none
    padding-right: 8px
    display: flex
    flex-direction: row
    width: 100%
    input
      flex: 1
    //width: auto !important
    //height: 19px !important
    .selected-tag
      display: block
      white-space: nowrap
      width: auto
      margin: 0px
      padding: 0px
      height: 19px
    input:focus
      padding: 0px 0px

.v-select
  .open-indicator
    bottom: -5px !important
  .dropdown-menu
    border: 1px solid rgba(0, 0, 0, .26) !important
    border-radius: 2px 2px 2px 2px !important
  .dropdown-toggle
    .clear
      bottom: 6px !important

.modal
  .modal-content
    main
      min-height: calc(80vh) !important
      @media (min-width: 1200px)
        min-width: 90vw !important
        max-width: 90vw !important
      @media (min-width: 768px)
        min-width: 80vw
        max-width: 80vw
    .fixed-bottom.q-page-sticky-expand
      left: 0px !important

.modal.maximized
  .modal-content
    main
      min-width: 70vw
      @media (min-width: 1200px)
        max-width: inherit
      @media (min-width: 768px)
        max-width: inherit

.q-layout-page-container
  .q-layout-page
    min-height: initial !important

.introjs-helperLayer
  opacity: 0.5