.flag-icon-KR
  background-image: url("../statics/flags/kr.svg")
  background-size: 24px
  background-repeat: no-repeat;

.flag-icon-US
  background-image: url("../statics/flags/us.svg")
  background-size: 24px
  background-repeat: no-repeat;
